In [47]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [48]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [49]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [50]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract


# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june = session.query(Measurement.date, Measurement.tobs).\
filter(extract('month',Measurement.date) ==6).all()

In [51]:
#  3. Convert the June temperatures to a list.
june_temp = list((june))

In [52]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_df = pd.DataFrame(june_temp,columns=['date','June Temps'])
june_df.set_index(june_df['date'], inplace=True)

In [53]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_df.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [54]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
dec = session.query(Measurement.date, Measurement.tobs).\
filter(extract('month',Measurement.date) ==12).all()

In [55]:
# 7. Convert the December temperatures to a list.
dec_temp = list((dec))

In [56]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_df = pd.DataFrame(dec_temp,columns=['date','Dec Temps'])
dec_df.set_index(dec_df['date'], inplace=True)

In [57]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_df.describe()

         Dec Temps
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000

In [58]:
# Deliverable 3 - March
# Write a query that filters the Measurement table to retrieve the temperatures for the month of March.
mar = session.query(Measurement.date, Measurement.tobs).\
filter(extract('month',Measurement.date) ==3).all()

In [59]:
# Convert the March temperatures to a list.
mar_temp = list((mar))

In [60]:
# Create a DataFrame from the list of temperatures for the month of March. 
mar_df = pd.DataFrame(mar_temp,columns=['date','Mar Temps'])
mar_df.set_index(mar_df['date'], inplace=True)

In [61]:
# Calculate and print out the summary statistics for the March temperature DataFrame.

mar_df.describe()

         Mar Temps
count  1693.000000
mean     70.059067
std       3.845271
min      56.000000
25%      68.000000
50%      70.000000
75%      73.000000
max      82.000000

In [62]:
# Deliverable 4 - September
# Write a query that filters the Measurement table to retrieve the temperatures for the month of September.
sept = session.query(Measurement.date, Measurement.tobs).\
filter(extract('month',Measurement.date) ==9).all()

In [63]:
# Convert the September temperatures to a list.
sept_temp = list((sept))

In [64]:
# Create a DataFrame from the list of temperatures for the month of September. 
sept_df = pd.DataFrame(sept_temp,columns=['date','Sept Temps'])
sept_df.set_index(sept_df['date'], inplace=True)

In [65]:
# Calculate and print out the summary statistics for the September temperature DataFrame.

sept_df.describe()

        Sept Temps
count  1480.000000
mean     76.164865
std       3.535178
min      64.000000
25%      74.000000
50%      76.000000
75%      79.000000
max      87.000000

In [66]:
# June Temp and Perciptiation
junetempprcp = session.query(Measurement.date, Measurement.prcp, Measurement.tobs).\
filter(extract('month',Measurement.date) ==6).all()
june_temp_prcp = list((junetempprcp))
junetempprcp_df = pd.DataFrame(june_temp_prcp,columns=['date','June Precip','June Temps'])
junetempprcp_df.set_index(junetempprcp_df['date'], inplace=True)
junetempprcp_df.describe()

       June Precip   June Temps
count  1574.000000  1700.000000
mean      0.136360    74.944118
std       0.335731     3.257417
min       0.000000    64.000000
25%       0.000000    73.000000
50%       0.020000    75.000000
75%       0.120000    77.000000
max       4.430000    85.000000

In [67]:
# December Temp and Perciptiation
dectempprcp = session.query(Measurement.date, Measurement.prcp, Measurement.tobs).\
filter(extract('month',Measurement.date) ==12).all()
dec_temp_prcp = list((dectempprcp))
dectempprcp_df = pd.DataFrame(dec_temp_prcp,columns=['date','December Precip','December Temps'])
dectempprcp_df.set_index(dectempprcp_df['date'], inplace=True)
dectempprcp_df.describe()

       December Precip  December Temps
count      1405.000000     1517.000000
mean          0.216819       71.041529
std           0.541399        3.745920
min           0.000000       56.000000
25%           0.000000       69.000000
50%           0.030000       71.000000
75%           0.150000       74.000000
max           6.420000       83.000000